Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Maps/Enviroment/Asian_town
Content/Maps/Enviroment/Asian_Village
Content/Maps/Enviroment/DeepElderCaves
Content/Maps/Enviroment/StylizedProvencal
Content/Maps/Enviroment/GoodSky

Content/Maps/Levels/TempleOfShadows_BuiltData.uasset
Content/Maps/Levels/TempleOfShadows.umap

Content/NotUsed/

Content/Characters/Ozul

Source/TDS/Character/HeroBase.h
Source/TDS/Character/HeroBase.cpp

Screenshots/
SourceFiles/
Builds/